{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet"　type="text/css" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
{% endblock customcss %}

{% block content %}
{% if user.is_authenticated %}
<body>
    <div class="l-wrapper_06">
        {% for item in object_list %}
        <div class="card_06">
        {% if item.snsimage %}    
        <a href="{% url 'detail' item.pk %}"><img class="card-img_06" src="{{ item.snsimage.url }}"/></a>
        {% endif %}
        <div class="card-content_06">
            <p class="card-title_06"><a href="{% url 'detail' item.pk %}">{{ item.title }}</a></p>
            <p class="card-text_06">{{ item.content }}</p>
        </div>
        <div class="card-link_06">
            <a href="#">投稿者:{{ item.author }}</a>
            <a href="{% url 'good' item.pk %}">いいね: {{ item.good }}</a>
            <a href="{% url 'read' item.pk %}">既読: {{ item.read }}</a>
        </div>
        </div>
        {% endfor%}
    </div>
    <div id="create"><a href="{% url 'create' %}">新規投稿</a></div>
    <div id="logout"><a href="{% url 'logout' %}">ログアウト</a></div>
    <div id="copy"><p>&copy;Hiroki Sotokawa.2021-</p></div>
    <script type="text/javascript" src="{% static 'js/jquery2-1-3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/list.js' %}"></script>
</body>    
{% else %}
<p>please login</p>
{% endif %}
{% endblock content %}